{% extends "manager/base.html" %}
{% block content %}
<h1>Home Page</h1>
<div>
  <img class="rounded-circle account-img" src="{{user.profile.image.url}}">
</div>

<table class="table table-dark">

  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">MatchDate</th>
      <th scope="col">Reds score</th>
      <th scope="col">Blue score</th>
      <th scope="col">MatchType</th>
      <th scope="col">DeleteMe</th>

    </tr>
  </thead>


  <tbody>
    {% for d in dates_goals %}

    <tr>
      <td>{{d.0}}</td>
      <td>{{d.1}}</td>
      <td>{{d.2}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
