{% extends "manager/base.html" %}
{% block content %}

<table class="table table-dark">

  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      <th scope="col">Preferred Foot</th>
      <th scope="col">Trait</th>
      <th scope="col">Wins</th>
      <th scope="col">Losses</th>
      <th scope="col">Draws</th>
    </tr>
  </thead>


  <tbody>
   {% for i in player %}
    <tr>

  <!--     <th scope="row">1</th> -->
      <td>{{i.name}}</td>
      <td>{{i.position}}</td>
      <td>{{i.preferred_foot}}</td>
      <td>{{i.trait}}</td>
      <td>{{i.totalwins}}</td>
      <td>{{i.totallosses}}</td>
      <td>{{i.totaldraws}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
