{% extends "manager/base.html" %}
{% block content %}

<table class="table table-dark">

  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">Name</th>
      <th scope="col">Points</th>
      <th scope="col">Position</th>
      <th scope="col">Preferred Foot</th>
      <th scope="col">Trait</th>
      <th scope="col">Wins</th>
      <th scope="col">Losses</th>
      <th scope="col">Draws</th>
      <th scope="col">Goals Scored</th>
      <th scope="col">Assists</th>
      <th scope="col">Man of the Match Awards</th>
    </tr>
  </thead>


  <tbody>
   {% for i in player_stats %}
    <tr>

      <td>{{i.0}}</td>
      <td>{{i.5}}</td>
      <td>{{i.6}}</td>
      <td>{{i.1}}</td>
      <td>{{i.7}}</td>
      <td>{{i.2}}</td>
      <td>{{i.4}}</td>
      <td>{{i.3}}</td>
      <td>{{i.8}}</td>
      <td>{{i.9}}</td>
      <td>{{i.10}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>



{% endblock content %}
