{% extends "manager/base.html" %}
{% block content %}
<h1>Choose the winner</h1>
<form action="{% url 'winner' %}" method="POST">
    {% csrf_token %}
    <div class="form-group row">
        <div class="form-group row">
        <label class="col-form-label col-sm-6" for="goals_team_a">{{ teams.0.name }} Team Goals:</label>
        <div class="col-sm-6">
            <input type="text" name="goals_team_a" class="form-control">
        </div>
    </div>
    </div>
    <hr>
    <div class="form-group row">
        <div class="form-group row">
        <label class="col-form-label col-sm-6" for="goals_team_b">{{ teams.1.name }} Team Goals:</label>
        <div class="col-sm-6">
            <input type="text" name="goals_team_b" class="form-control">
        </div>
    </div>
    </div>
    <hr>
    <div class="form-group row">
        <label class="col-form-label col-sm-3" for="date">Date:</label>
        <div class="col-sm-3">
            <select name="date" class="form-control">
                {% for date in dates %}
                <option value="{{ date }}">
                    {{ date }}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <hr>
    <input type="submit" value="Send" class="btn btn-block btn-secondary">
</form>
{% endblock content %}
